.home {
  padding: 0px 10px;
  padding-bottom: 100px;
}
.hero {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero h1 {
  font-size: max(4vw, 36px);
}
.hero p {
  width: 75%;
  color: #e3e3e3;
  line-height: 1.5;
}
form {
  padding: 8px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
form input {
  flex: 1;
  font-size: 16px;
  outline: none;
  border: none;
  padding-left: 10px;
  color: black;
}
form button {
  border: none;
  background-color: #7929ff;
  padding: 10px 30px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background-color: #5b1fbb;
}
.crypto-table {
  margin: auto;
  max-width: 800px;
  background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
  border-radius: 15px;
}
.table-layout {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
}
.market-cap {
  text-align: right;
}
.table-layout:last-child {
  border: none;
}
.table-layout div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-layout div img {
  width: 35px;
}
.green {
  color: #00d515;
  text-align: center;
}
.red {
  color: #ff4646;
  text-align: center;
}
@media (max-width: 768px) {
  .table-layout {
    grid-template-columns: 0.5fr 3fr 1fr 1fr;
  }
  .market-cap {
    display: none;
  }
}
@media (max-width: 500px) {
  .table-layout div img {
    width: 25px;
  }
  .table-layout {
    font-size: 13px;
  }
  .hero form input {
    width: 100%;
  }
}
